:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(158, 36%, 37%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p, button, span, i {
    font-family: 'Fraunces', serif;
}